 <!-- ======= Header Section ======= -->
 <%- include("../layouts/headerAdmin") -%>

 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

 <% if (status == "success") { %>
     <script>
       Swal.fire({
         icon: 'success',
         title: "<%= message %>",
         timer: 1500,
       })
    </script>
 <% } else if (status == "failed") { %>
     <script>
       Swal.fire({
         icon: 'error',
         title: "<%= message %>",
         timer: 1500,
       })
    </script>
 <% } else if (status == "delete") { %>
     <script>
       Swal.fire({
         icon: 'success',
         title: "<%= message %>",
         timer: 1500,
       })
    </script>
   <% } %>
        <main class="h-full overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Data Tukar Point
            </h2>
            <div class="mb-3">
              <div class="relative mb-4 flex w-full flex-wrap items-stretch">
                <input
                  id="myInput"
                  onkeyup="myFunction()"
                  type="search"
                  class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                  placeholder="Nama"
                  aria-label="Search"
                  aria-describedby="button-addon1" />
              </div>
            </div>
            <!-- New Table -->
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap" id="myTable">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">Id Anggota</th>
                      <th class="px-4 py-3">Nama</th>
                      <th class="px-4 py-3">Tukaran</th>
                      <th class="px-4 py-3">Point</th>
                      <th class="px-4 py-3">Aksi</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  <% rewards.forEach((reward)=> {%>
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3 text-sm">
                        <%= reward.idUser %>
                      </td>
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->
                          <div
                            class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                          >
                            <img
                              class="object-cover w-full h-full rounded-full"
                              src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                              alt=""
                              loading="lazy"
                            />
                            <div
                              class="absolute inset-0 rounded-full shadow-inner"
                              aria-hidden="true"
                            ></div>
                          </div>
                          <div>
                            <p class="font-semibold"><%= reward.User.name %></p>
                          </div>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <%= reward.name %>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <%= reward.point %>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <a href="/api/reward/delete/<%- reward.id %>">
                          <button
              class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
            >
              Delete
            </button>
                        </a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>


          </div>
        </main>
      </div>
    </div>
  </body>
  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>
</html>
